/* General */
.clr {
    clear: both;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

/* Welcome section*/
.header {
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: 100% 100%;
    height: 100vh;
}


.logo {
    float: left;
}

.logo img {
    padding-top: 20px;
    width: 150px;
}

.links {
    float: right;

}

.links li {
    float: left;
    padding: 20px;
}

.links a {
    color: #fff;
}

.content {
    text-align: center;
}

.content p {
    padding: 55px;
    color: #ccc;
    font-size: 24px;
}

.content h1 {
    color: #fff;
    font-size: 70px;
}

.btns button {
    border-radius: 5px;
    padding: 15px 20px;

}

.btns a {
    color: #fff;
}


.btn-brown {
    border: none;
    background-color: rgb(125, 81, 47);
}

.btn-white {
    border: white solid 2px;
    background-color: transparent;
}

/* about-section */

.about {
    margin-top: 70px;
    margin-bottom: 50px;
}

.about-img {
    float: left;
    width: 700px;
}

.about-img img {
    width: 85%;
}

.about-content {
    text-align: center;
}

.about-content p {
    color: rgb(104, 104, 104);
    padding: 10px;
    line-height: 30px;
}

.about-content h2,
p {
    padding: 20px;
}

.about-list {
    float: left;
}

.about-list li {
    margin-top: 20px;
    color: rgb(104, 104, 104);
}


/* Location-section */

.location {
    background-color: #f8f8f8;
}

.location-content,
.location-img {
    width: 50%;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.location-content {
    text-align: center;
    padding-top: 40px;

}

.location-content p {
    color: rgb(104, 104, 104);
    line-height: 25px;
}

.location-img img {
    width: 90%;
}

/* our-baking-section */

.our-baking {
    margin-top: 50px;
    margin-bottom: 70px;
}


.baking-content {
    text-align: center;
}

.our-baking p {
    color: rgb(104, 104, 104);
    padding: 25px;
    line-height: 25px;
}

.our-baking h3 {
    margin-top: 15px;
}

.baking-item {
    text-align: center;
    width: 33%;
    float: left;
}

.baking-item img {
    width: 90%;
}

/* contact-section */
.contact {
    background-color: #f8f8f8;
}

.contact-content {
    width: 50%;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
}

.info {
    text-align: center;
    line-height: 30px;
    color: rgb(104, 104, 104);
}

.info h2 {
    color: black;
}

.lst {
    color: rgb(104, 104, 104);
}

.lst p {
    float: left;
}

.lst li {
    margin-top: 30px;
}

.map {
    text-align: center;
    padding-top: 40px;
}

.map img {
    width: 600px;
}

/* Blog-section */
.blog {
    background-color: #403D38;
}

.blog h3 {
    color: #fff;
}

.about-us,
.why-special,
.opening-hours,
.contact-details {
    width: 22%;
    float: left;
    padding: 20px;
    padding-bottom: 120px;
    color: rgb(150, 150, 150);
    line-height: 25px;
}



.blog li {
    border-bottom: 1px solid black;
    padding: 10px;
    list-style: none;
}

.blog a {
    color: rgb(150, 150, 150);
}

/* footer section */

.footer {
    background-color: #353330;
    margin: auto;
    padding: 40px;
    text-align: center;
}

.footer img {
    width: 20%;
}

.footer p {
    color: rgb(150, 150, 150);
    font-size: 14px;
}

.icons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #6b6863;
}

.icons img {
    width: 80%;
}